.jumbotron {
    padding: 4rem 0rem;
    margin-bottom: 0rem;
    background-image: url("https://media.giphy.com/media/koyjGfQHIZQKk/giphy.gif");
    border-radius: .3rem;
    margin-top: 12px;
}

h1 {
    font-size: 3.5em;
    font-family: 'Megrim', cursive;
    text-shadow: 4px -4px 2px #ffffff;
}