.jumbotron {
    padding: 4rem 0rem;
    margin-bottom: 0rem;
    background-color: #afaeaf;
    border-radius: .3rem;
}

h1 {
    font-family: 'Megrim', cursive;
    text-shadow: 4px -4px 2px #ffffff;
}