body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(18, 14, 14, 0.47);
}

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: 67px;
}

